PORT=500
CLIENT_URL=http://localhost:5173 #OR Your publieshed Client url
MONGODB_URL=YOUR_MONGO_DB_URL
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=d
GOOGLE_CLIENT_ID=your_google_client_id
NODE_ENV=development