PORT=500
CLIENT_URL=http://localhost:5173 #OR Your publieshed Client url
MONGODB_URL=YOUR_MONGO_DB_URL 
JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRES_IN=d
NODE_ENV=development

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

GEMINI_API_KEY=your_gemini_api_key_here